TOSS_CLIENT_ID=
TOSS_CLIENT_SECRET=
FIREBASE_PROJECT_ID=your-firebase-project-id
ALLOWED_FIREBASE_UID=replace_with_your_firebase_user_uid
ALLOWED_ORIGIN=https://dttg123.github.io
TOSS_ACCOUNT_SEQ=
TOSS_DEFAULT_FROM=2020-01-01
PORT=8080
